---
title: AI Testing & Verification

description: |
  Neural networks can be (arguably) viewed a different paradigm of programming, where logical reasoning is replaced with big data and optimization. Unlike traditional programs, however, neural networks are subject to bugs, e.g., adversarial samples and discriminatory instances. In this line of work, we aim to develop systematic theories, methods and tools to improve the quality of AI-systems.

people:
  - prof-sunjun
  - postdoc-long
  - postdoc-yueling
  - phd-sunbing
  - phd-mengdi

active: true

layout: project
last-updated: 2021-05-24
---

Neural networks can be (arguably) viewed a different paradigm of programming, where logical reasoning is replaced with big data and optimization. Unlike traditional programs, however, neural networks are subject to bugs, e.g., adversarial samples and discriminatory instances. In this line of work, we aim to develop systematic theories, methods and tools to improve the quality of AI-systems.

## Key Publications

<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-030-72016-2_21">Improving Neural Network Verification through Spurious Region Guided Refinement</a>.
			</span><br />
			<span class="authors">
				Pengfei Yang, Renjue Li, Jianlin Li, Cheng-Chao Huang, Jingyi Wang, Jun Sun, Bai Xue, Lijun Zhang.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">International Conference on Tools and Algorithms for the Construction and Analysis of Systems, TACAS 2021, 27 March - 1 April, 2021</span></span>.
			<br />
			<span class="links">
</span>

<span class="pubtitle">
				<a href="https://doi.org/10.1145/3377811.3380331">White-box fairness testing through adversarial sampling</a>.
			</span><br />
			<span class="authors">
				Peixin Zhang, Jingyi Wang, Jun Sun, Guoliang Dong, Xinyu Wang, Xingen Wang, Jin Song Dong, and Ting Dai.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">ICSE '20: 42nd International Conference on Software Engineering, Seoul, South Korea, 27 June - 19 July, 2020</span></span>.
			<br />
			<span class="links">
</span>

<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-030-53291-8_17">Global PAC Bounds for Learning Discrete Time Markov Chains</a>.
			</span><br />
			<span class="authors">
				Hugo Bazille, Blaise Genest, Cyrille Jégourel, and Jun Sun.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">Computer Aided Verification - 32nd International Conference, CAV 2020, Los Angeles, CA, USA, July 21-24, 2020, Proceedings, Part II</span></span>.
			<br />
			<span class="links">
</span>

<span class="pubtitle">
				<a href="https://doi.org/10.1109/ICSE.2019.00126">Adversarial sample detection for deep neural network through model mutation testing</a>.
			</span><br />
			<span class="authors">
				Jingyi Wang, Guoliang Dong, Jun Sun, Xinyu Wang, and Peixin Zhang.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">Proceedings of the 41st International Conference on Software Engineering, ICSE 2019, Montreal, QC, Canada, May 25-31, 2019</span></span>.
			<br />
			<span class="links">
</span>
