---
title: AI Testing & Verification

description: |
  Neural networks can be (arguably) viewed a different paradigm of programming, where logical reasoning is replaced with big data and optimization. Unlike traditional programs, however, neural networks are subject to bugs, e.g., adversarial samples and discriminatory instances. In this line of work, we aim to develop systematic theories, methods and tools to improve the quality of AI-systems.

people:
  - prof-sunjun
  - postdoc-long

active: true

layout: project
last-updated: 2021-05-24
---

Neural networks can be (arguably) viewed a different paradigm of programming, where logical reasoning is replaced with big data and optimization. Unlike traditional programs, however, neural networks are subject to bugs, e.g., adversarial samples and discriminatory instances. In this line of work, we aim to develop systematic theories, methods and tools to improve the quality of AI-systems.

## Key Publications

<span class="pubtitle">
	<img src="img/pdficon_small.gif" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2007.11206">SOCRATES: Towards a Unified Platform for Neural Network Analysis</a>.
			</span><br />
			<span class="authors">
				Long H. Pham, Jiaying Li, Jun Sun.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">Preprint</span></span>.
			<br />
			<span class="links">
</span>

<span class="pubtitle">
				<img src="img/pdficon_small.gif" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-030-72016-2_21">Improving Neural Network Verification through Spurious Region Guided Refinement</a>.
			</span><br />
			<span class="authors">
				Pengfei Yang, Renjue Li, Jianlin Li, Cheng-Chao Huang, Jingyi Wang, Jun Sun, Bai Xue, Lijun Zhang.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">International Conference on Tools and Algorithms for the Construction and Analysis of Systems, TACAS 2021, 27 March - 1 April, 2021</span></span>.
			<br />
	<span class="links">
</span>
