<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.gif" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2205.06992">Verifying Neural Networks Against Backdoor Attacks</a>.
			</span><br />
			<span class="authors">
				Long H. Pham, Jun Sun.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">34th International Conference on Computer Aided Verification</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="">Adaptive Fairness Improvement based Causality Analysis</a>.
			</span><br />
			<span class="authors">
				Mengdi Zhang, Jun Sun.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">ESEC/FSE 2022</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<tr>
		<td>
			<span class="date">
								
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="">Causality-Based Neural Network Repair</a>.
			</span><br />
			<span class="authors">
				Bing Sun, Jun Sun, Long H. Pham, Jie Shi.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">44th International Conference on Software Engineering</span></span>.
			<br />
			<span class="links">
				<a href="https://socrates4nn.github.io/software-toolkits.html">Instruction</a>.
			</span>
		</td>
	</tr>

	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="">ExAIs: Executable AI Semantics</a>.
			</span><br />
			<span class="authors">
				Richard Schumi, Jun Sun.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">ICSE 2022</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<tr>
		<td>
			<span class="date">
				<big><strong>2021</strong></big><br />
				
			</span>
		</td>
		
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.gif" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2107.08362">Probabilistic Verification of Neural Networks Against Group Fairness</a>.
			</span><br />
			<span class="authors">
				Bing Sun, Jun Sun, Ting Dai, Lijun Zhang.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">24th International Symposium on Formal Methods, FM 2021, Beijng, China, 20-26 November, 2021</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>


	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="">RobOT: Robustness-Oriented Testing for Deep Learning Systems</a>.
			</span><br />
			<span class="authors">
				Jingyi Wang, Jialuo Chen, Youcheng Sun, Xingjun Ma, Jun Sun, Peng Cheng.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">ICSE 2021</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="">Automatic Fairness Testing of Neural Classifiers through Adversarial Sampling</a>.
			</span><br />
			<span class="authors">
				Peixin Zhang, Jingyi Wang, Jun Sun, Xinyu Wang, Guoliang Dong, Xinggen Wang, Ting Dai, Jinsong Dong.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">TSE 2021</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>



	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="">Attack as Defense: Characterizing Adversarial Examples using Robustness</a>.
			</span><br />
			<span class="authors">
				Zhe Zhao, Guangke Chen, Jingyi Wang, Yiwei Yang, Fu Song, Jun Sun.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">ISSTA 2021</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>


	<tr>
		<td>
			<span class="date">
				
			</span>
		</td>
		
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.gif" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-030-72016-2_21">Improving Neural Network Verification through Spurious Region Guided Refinement</a>.
			</span><br />
			<span class="authors">
				Pengfei Yang, Renjue Li, Jianlin Li, Cheng-Chao Huang, Jingyi Wang, Jun Sun, Bai Xue, Lijun Zhang.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">International Conference on Tools and Algorithms for the Construction and Analysis of Systems, TACAS 2021, 27 March - 1 April, 2021</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.gif" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2007.11206">SOCRATES: Towards a Unified Platform for Neural Network Analysis</a>.
			</span><br />
			<span class="authors">
				Long H. Pham, Jiaying Li, Jun Sun.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">Preprint</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="">White-box Fairness Testing through Adversarial Sampling</a>.
			</span><br />
			<span class="authors">
				Peixin Zhang, Jingyi Wang, Jun Sun, Guoliang Dong, Xinyu Wang, Xingen Wang, Jin Song Dong, Dai Ting.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">ICSE 2020</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>


	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="">Towards Interpreting Recurrent Neural Networks through Probabilistic Abstraction</a>.
			</span><br />
			<span class="authors">
				Guoliang Dong, Jingyi Wang, Jun Sun, Yang Zhang, Xinyu Wang, Ting Dai, Jin Song Dong, Xingen Wang.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">ASE 2020</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>


	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="">Global PAC Bounds for Learning Discrete Time Markov Chains</a>.
			</span><br />
			<span class="authors">
				Hugo Bazille, Blaise Genest, Cyrille Jegourel, Jun Sun.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">CAV 2020</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>

	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="">Adversarial Sample Detection for Deep Neural Network through Model Mutation Testing</a>.
			</span><br />
			<span class="authors">
				Jingyi Wang, Guoliang Dong, Jun Sun, Xinyu Wang, Zhang Peixin.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">ICSE 2019</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
