<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				<big><strong>2021</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.gif" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2107.08362">Probabilistic Verification of Neural Networks Against Group Fairness</a>.
			</span><br />
			<span class="authors">
				Bing Sun, Jun Sun, Ting Dai, Lijun Zhang.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">24th International Symposium on Formal Methods, FM 2021, Beijng, China, 20-26 November, 2021</span></span>.
			<br />
			<span class="links">
			</span>
		</td>

		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.gif" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-030-72016-2_21">Improving Neural Network Verification through Spurious Region Guided Refinement</a>.
			</span><br />
			<span class="authors">
				Pengfei Yang, Renjue Li, Jianlin Li, Cheng-Chao Huang, Jingyi Wang, Jun Sun, Bai Xue, Lijun Zhang.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">International Conference on Tools and Algorithms for the Construction and Analysis of Systems, TACAS 2021, 27 March - 1 April, 2021</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.gif" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2007.11206">SOCRATES: Towards a Unified Platform for Neural Network Analysis</a>.
			</span><br />
			<span class="authors">
				Long H. Pham, Jiaying Li, Jun Sun.
			</span><br />
			<span style="color:grey;"><span class="venuetype"></span><span class="venue">Preprint</span></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
